* {
    margin: 0 ;
    font-family: 'Open Sans', sans-serif;
}

.primary-button{
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 10px 20px;
}
/*Header and Nav bar */

.header{
    background-color:#FFF8F3 ;
    background-image:url(images/header_bg.png),url(images/developer.png) ;
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
    
}
.nav-title {
    font-weight: 800;
    font-size:35px ;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.primary-text-color{
    color:  #FD6E0A;
}

/* Banner style */

.banner{
    margin-left: 150px;
    margin-right: 70px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 70px;
}
.banner-subtitle{
    font-weight: 600;
    margin-top: 5px;
}
.banner-description{
    color:#757575 ;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.secondary-btn{
    margin-left: 20px ;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    border-color: #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
}
main{
    max-width: 1140px;
    margin: 0 auto;
   
    
}
/* about me */
.about{
    margin-top: 130px;
    background-color:#FFF8F3 ;
    border-radius: 10px;
    padding: 130px 150px;
    
    
    
}
.section-title{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}
.section-description{
    color:#757575; 
    margin-bottom: 30px; 
    text-align: center;       

}
.section-table{
    display: flex;
    justify-content:space-around;
    text-align: center;
    
}
.table-row2{
    font-size: 20px;
    font-weight: 700;
   

}
.table-row1{
    font-size: 18px;
    color:#757575;

}
/* What I do section */

.what-Ido{
    justify-content: center;
    margin-top: 130px;

}

.box-area{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 100px
}
.box{
    background-color: rgb(244, 247, 250);
    width: 23%;
    border-radius: 5px;
    padding: 30px;  
}
.box-title{
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.box-description{
    font-size: 18px;
    color: #757575;
    margin-bottom:30px ;
    
}

/* Resume Section  */
.resume{
    margin-top:150px;
}
.resume-box{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 150px;
    font-weight: 700;
}
.resume-boxtitle{
    font-weight: 700;
    margin-bottom: 30px;
}
.column-box h5{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #757575;
}
.resume-button{
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 10px 20px;
    margin-left:500px ;
    margin-top:50px;
    margin-bottom: 50px;
    
}


/* Footer section */
.footer{
background-color: #FFF8F3;

}
.footer-box{
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    column-gap: 100px;
    align-self: flex-end;
    
}
.footer-title{
    margin-bottom: 20px;
    font-weight: 700;

}
.icons-box{
    display: flex;
   
}
.footer-input{
    display:flex;
    flex-direction: column;
}
#name{
    padding: 10px;
    margin-top: 20px ;
    margin-bottom: 20px;
    width: 300px;
    border-style: none;
    border-radius: 5px;
}
#email{
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 5px;
}
#msg{
    padding: 10px;
    height: 120px;
    width: 300px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 5px;
}
.column{
    margin-top: 130px;
    width: 50%;
    gap: 100px;
   
}
.footer-button{
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 120px;

}
